{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "minify": false,
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": true
      }
    },
    "externalHelpers": false,
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {}
  },
  "module": {
    "type": "es6"
  }
}
